body{
    background-image: url('pexels-photo.jpg') ;
    margin:0px;
    padding: 0px;
    
}

h1{
    text-align: left;
    color:white;
    font-family: 'Nanum Myeongjo';
    font-size: 40px;
    margin: 20px;
    padding: 15px;
}

.centro {
    height: 800px;
    width: 97%;
    background-color: rgba(8, 8, 8, 0.5);    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    
}
.quadrado{
    text-align: center;
}
.conteudo {
    margin:10px;
    padding:5px;
}



p{
    color:white;
    font-size: 15px; 
}



.botoes{
    display: flex;
    justify-content: space-between;
}

input{
    height: 35px;
    width: 90%;
    background-color: rgb(209, 209, 209);
    border: none;
    border-radius: 7px;
    
}

button{
   background-color: rgb(43, 42, 42);
   border-radius: 10px;
   color:white;
   height: 60px;
   width: 130px;
   margin: 10px;
   border: none;
   font-size: 25px;
}

.cima{
    background-color: black;
    height: 80px;
    width: 97%;  
    margin: 0 auto;
    border-radius: 8px;
    
}

img{
    height: 150px;
}

.nomeFilme{
    font-size: 30px;
    margin-top: 10px;
}

table{
    border:2px solid rgb(124, 124, 124);
    width: 90%;
    border-radius: 5px;
}

tr:hover{
    background-color: gray;
}

button:hover{
    background-color: gray;
}

.filme{
    border: 1px solid gray;
    display: flex;
    
    
}

.status{
    display: flex;
    flex-direction: column;
    margin-left:5px;
    margin-top: 0;
    padding-top: 0;
}

span{
    color:white;
    font-size: 15px; 
    margin: 3px;
}

.filme:hover{
    background-color: gray;
}