body{
    background-image: url('pexels-photo.jpg') ;
    margin:0px;
    padding: 0px;
    
}

h1{
    text-align: left;
    color:white;
    font-family: 'Nanum Myeongjo';
    font-size: 40px;
    margin: 20px;
    padding: 15px;
}

.centro {
    height: 800px;
    width: 97%;
    background-color: rgba(8, 8, 8, 0.5);    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    
}
.quadrado{
    text-align: left;
}
.conteudo {
    margin:10px;
    padding:5px;
}



p{
    color:white;
    font-size: 25px; 
}



.botoes{
    display: flex;
}

input{
    height: 35px;
    width: 350px;
    background-color: rgb(209, 209, 209);
    border: none;
    border-radius: 7px;
    margin: 10px;
    
}

button{
   background-color: rgb(43, 42, 42);
   border-radius: 10px;
   color:white;
   height: 60px;
   width: 130px;
   margin: 10px;
   border: none;
   font-size: 25px;
}

.cima{
    background-color: black;
    height: 80px;
    width: 97%;  
    margin: 0 auto;
    border-radius: 8px;
    
}

img{
    height: 400px;
}

.nomeFilme{
    font-size: 30px;
}

.descricao{
    font-size: 30px;
}

table{
    border:2px solid rgb(124, 124, 124);
    width: 90%;
    border-radius: 5px;
}

button:hover{
    background-color: gray;
}

select:hover{
    background-color: gray;
}

h2{
    color: white;
    font-size: 30px;
}

.nomeFilme{
    color: white;
}

select{
    
    background-color: rgb(43, 42, 42);
    border-radius: 10px;
    color:white;
    height: 60px;
    margin: 10px;
    border: none;
    font-size: 25px;
     
}

textarea{
    height: 350px;
    width: 80%;
    background-color: rgb(209, 209, 209);
    border: none;
    border-radius: 7px;
    margin: 10px;
         
}