body{
    background-image: url('pexels-photo.jpg') ;
    margin:0px;
    padding: 0px;
    
}

h1{
    text-align: left;
    color:white;
    font-family: 'Nanum Myeongjo';
    font-size: 40px;
    margin: 20px;
    padding: 15px;
}

.centro {
    height: 93%;
    width: 97%;
    background-color: rgba(8, 8, 8, 0.5);    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    min-height: 700px;
    min-width: 600px;
    
}
.quadrado{
    text-align: center;
}
.conteudo {
    margin:10px;
    padding:5px;
    
}



p{
    color:white;
    font-size: 20px; 
}



.botoes{
    display: flex;
    margin-bottom: 2px;
    justify-content: space-between;
    
}


button{
   background-color: rgb(43, 42, 42);
   border-radius: 10px;
   color:white;
   height: 60px;
   width: 130px;
   margin: 10px;
   border: none;
   font-size: 25px;
}

.cima{
    background-color: black;
    height: 80px;
    width: 100%;  
    margin: 0 auto;
    border-radius: 8px;
    
}

img{
    height: 400px;
}

.nomeFilme{
    font-size: 30px;
}

.descricao{
    font-size: 30px;
}


button:hover{
    background-color: gray;
}

h2{
    color: white;
    font-size: 30px;
}

.filme{
    border: 1px solid gray;
    display: flex;
}

.status{
    display: flex;
    flex-direction: column;
    margin-left:15px;
    margin-top: 0;
    padding-top: 0;
}

h2{
    font-size: 45px;
}