body{
    background-image: url('pexels-photo.jpg') ;
    margin:0px;
    padding: 0px;
    
}

h1{
    text-align: center;
    color:white;
    font-family: 'Nanum Myeongjo';
    font-size: 70px;
}

.centro {
    height: 600px;
    width: 600px;
    background-color: rgba(8, 8, 8, 0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    
}
.quadrado{
    text-align: center;
}
.conteudo {
    margin:10px;
    padding:5px;
}

.login{
    color:white;
    font-size: 30px;
    
}

p{
    color:white;
    font-size: 25px; 
}



.botoes{
    text-align: center;
}

input{
    height: 35px;
    width: 90%;
    background-color: rgb(209, 209, 209);
    border: none;
    border-radius: 7px;
    
}

button{
   background-color: rgb(43, 42, 42);
   border-radius: 10px;
   color:white;
   height: 45px;
   width: 60%;
   margin: 10px;
   border: none;
   font-size: 25px;
}

button:hover{
    background-color: gray;
}
